name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
env:
  BUILD_CONF: Release

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c $BUILD_CONF -p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test -c $BUILD_CONF
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: nuget-packages
        path: '**/*.nupkg'
        retention-days: 5
  
  publish:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download NuGet packages
      uses: actions/download-artifact@v4
      with:
        name: nuget-packages
    - name: Push NuGet package
      run: dotnet nuget push **/*.nupkg --source https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
